@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Zen+Maru+Gothic:wght@500&display=swap");
body {
  font-family: "Zen Maru Gothic", serif;
}

.carousel-item {
  display: none;
}
.carousel-item.active {
  display: block;
}

.slick-arrow.slick-next:before {
  content: "▶︎";
  color: black;
}

.slick-arrow.slick-prev:before {
  content: "◀";
  color: black;
}

#vertical-text {
  writing-mode: vertical-rl;
}

.accordion-content {
  display: none;
}

.rotate-90 {
  transform: rotate(270deg);
}

.slide-in {
  transition: transform 0.5s ease-out;
}
.slide-in.active {
  transform: translateX(0);
}

#fixed-contactbox {
  opacity: 0;
  z-index: -10px;
  transition-duration: 0.2s;
}
#fixed-contactbox.active {
  opacity: 1;
  transition-duration: 0.2s;
}
